<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myCtrl">
<head>
	<meta charset="utf-8">
	<title>Wahlkompass</title>

	<link rel="stylesheet" type="text/css" href="css/styles.css">

  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/skeleton/css/normalize.css">
  <link rel="stylesheet" href="css/skeleton/css/skeleton.css">
  <link rel="stylesheet" href="css/fontAwesome/css/font-awesome.min.css">



	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="scripts/module.js"></script>
</head>
<body>
	<div ng-init="page_nr=0">
	<header>
      <img src="images/Logo.png" alt="logo">
	</header>
	<!-- Startseite -->
	<div class="startbox container" ng-show="page_nr == 0">
      <div class="themebox row">
          <h1>{{tenor[0].value}}</h3>
      </div>
        <article class="row">
          <h2>{{tenor[1].value}}</h3>
          <p>{{tenor[2].value}}</p>
        </article>
      <div class="buttonBox">
  			  <a class='button button-primary' ng-click="page_nr=1">Start</a>
      </div>
	</div>
	<!-- Umfrage -->
	<div class="questionbox container" ng-show="page_nr==1">
		<div ng-init="question_nr = 0" class="question">
			<div class="categorybox">
				<h2>Kategorie: {{categories[questions[question_nr].cat_id-1].name}}</h3>
			</div>
			<article>
				<h3>Frage: {{questions[question_nr].id}} von {{questions.length}}</h3>
				<p>{{questions[question_nr].text}}</p>
				<p>{{questions[question_nr].answer}}</p>
			</article>
      <div class="buttonBox row">
            <button  class="approval" ng-click="vote(1);forward();"><i class="fa  fa-thumbs-up fa-fw"></i>&nbsp; Zustimmung</button>
            <button  class="abstinence" ng-click="vote(0);forward();"><i class="fa  fa-minus fa-fw"></i>&nbsp; Enthaltung</button>
            <button  class="disapproval" ng-click="vote(-1);forward();"><i class="fa fa-thumbs-down fa-fw"></i>&nbsp; Ablehnung</button>
        </div>
        <div class="buttonBox row">
            <button  ng-click="back();"><i class="fa  fa-chevron-left fa-lg"></i></button>
            <button  ng-click="forward();"><i class="fa  fa-chevron-right fa-lg"></i></button>
        </div>
		</div>
	</div>
	<!-- Favoriten -->
	<div class="favbox" ng-show="page_nr == 2">
		<div class="themebox">
			<h2>{{tenor[3].value}}</h2>
		</div>
		<section id="favorites">
			<ul>
				<li ng-repeat="q in questions" ng-click="q.accent=!q.accent;" class="{{getClassFromRating(q.answer)}}">
					<p>{{q.text}}</p><div class="accentbox"><img src="{{getFavoriteStar(q.accent);}}"></div>
				</li>
			</ul>
		</section>
		<div class="buttonBox">
			<button ng-click="page_nr=3">Bestätigen</button>
		</div>
	</div>
	<!-- Ergebniss -->
	<div class="boxofparties" ng-show="page_nr == 3">
		<section>
			<ul ng-init="selectedparty=null">
				<li ng-repeat="par in parties">
					<p ng-click="selectedparty=par.name">{{par.name}} {{getConformity($index)}}</p>
					<ul ng-show="selectedparty==par.name" ng-init="pindex=$index">
						<li ng-repeat="q in questions">
							<p>{{q.positions[pindex].orientation+" "+q.positions[pindex].argumentation+" "+q.text}}</p>
						</li>
					</ul>
				</li>
			</ul>
		</section>
	</div>

</body>
</html>
