@media (min-width: 400px) {
	h1 {
		font-size: 2.4rem;		
	}
}

/* ++++++++++++++++++++++++ */

.container {
    background-color: white;
}

.buttonBox {
    text-align: center;
    /* background-color: white; */
}

a.button.button-primary {
    background-color: #55AF03;
    border-color: #55AF03;
}
.buttonBox button.approval {
    background-color: #66CC00;
}

.buttonBox button.abstinence {
    background-color: #33C3F0;
    background-color: hsl(194, 68%, 72%);
}

.buttonBox button.disapproval {
    background-color: #E82F2F;
}
.question {
	background-color: white;
}


/* ++++++++++++++++++++++++ */


html{
}
body{
	background-color: #F5F2E3;
	margin: 0;
}
header{
	background-color: #66CC00;
	height: 44px;
}
header img{
	position: relative;
	/* margin: 0; */
	/* left: 50%; */
	/* margin-left: -93px; */
}
.themebox, .categorybox{
	background-color: #55AF03;
}
.themebox h3, .categorybox h3{
	margin: 0;
	padding: 10px;
	text-align: center;
	color: #fff;
}
article{
	background-color: #fff;
	padding: 10px;
	box-sizing: border-box;
	margin-bottom: 10%;
}
article h3{
	color: #55AF03;
	margin: 0px;
}
article p{
	margin: 0px;
}
.buttonBox{
	/* margin: 5px; */
}
.buttonBox button{
	background-color: #66CC00;
	color: #fff;
	border-style: none;
	/* width: 100%; */
	/* height: 44px; */
	/* font-size: 3.4rem; */
}
.buttonBox button:hover{
	background-color: #55AF03;
}
/* Favoriten */
section ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
section ul li{
	display: block;
	cursor: pointer;
	position: relative;
	height:auto;
	overflow:auto;
}
section ul li p{
	position: relative;
	float: left;
	width: calc(100% - 44px);
}
section ul li .accentbox{
	position: relative;
	float: right;
	right: 0;
}
section ul li .accentbox img{
	padding: 10px;
	height: 100%;
}
.positive{
	background-color: #BDECF9;
	border-bottom: solid 1px #29ABE2;
}
.positive div{
	background-color: #29ABE2;
}
.neutral{
	background-color: #E2E2E2;
	border-bottom: solid 1px #B3B3B3;
}
.neutral div{
	background-color: #B3B3B3;
}
.negative{
	background-color: #F2CBC0;
	border-bottom: solid 1px #F15A24;
}
.negative div{
	background-color: #F15A24;
}
/* Ergebniss */
